*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,172,1) 38%, rgba(0,212,255,1) 100%);
}

.hero{
    width: 500px;
    height: 600px;
    background-color: #fff;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.hero__title{
    margin-bottom: 80px;
    color: #1919ac;
    font-size: 36px;
    font-family: sans-serif;
}

.hero__username{
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid;
    border-color: #242424;
    font-size: 24px;
    text-transform: capitalize;
}

.hero__checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}

input[type="checkbox"]{
    color: #1919ac;
    width: 20px;
    height: 20px;
}

.hero__login{
    text-align: center;
    margin: 20px 0px;
    color: #fff;
    padding: 15px 150px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,172,1) 38%, rgba(0,212,255,1) 100%);
}

.hero__signup{
    color: #1919ac;
}
