*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
}

h2{
    text-transform: capitalize;
    font-size: 32px;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
}

button{
    margin-top: 10px; 
    padding: 5px;
}
